<form method="post">
    <label for="names">Names</label>
    <input name="names" id="names" required>

    <label for="fav_color">Favorite color</label>
    <input name="fav_color" id="fav_color" required>
    <br>
    <input type="radio" name="cats_or_dogs" value="cats" checked> Cats<br>
    <input type="radio" name="cats_or_dogs" value="dogs"> Dogs<br>
    <input type="submit" value="Register">
</form>

<a href="/">I don't like this place</a>
