<!DOCTYPE html>
<html lang = "en">
<style>
table {
    font-family: arial, sans-serif
    border-collapse: collapse
    width: 100 %
}

td, th {
    border: 1px solid  # dddddd;
    text-align: left
    padding: 8px
}

tr: nth-child(even) {
    background-color: # dddddd;
}
</style>
<head>
    <meta charset = "UTF-8">
    <title> TEST </title>
</head>
<body>
  <table id = "test" style = "width:100%">


    Here is the result
    {% if result %}
    <tr>
        <th> names </th>
        <th> favorite color </th>
        <th> cats or dogs </th>
    </tr>
    {% for row in result %}
    <tr>
        <td> {{row.names}} </td>
        <td> {{row.fav_color}} </td>
        <td> {{row.cats_or_dogs}} </td>
    </tr>
    {% endfor %}
  {% endif %}
      <a href="/insert">Click on me to insert new data</a>
</table>
</body>
</html>
